<% include partials/header %>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
<link rel="stylesheet" href="/assets/css/style3.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>

<div class="container">
    <div class="jumbotron">
        <h1><%=event.name%></h1>
        <h4><%=event.host%></h4>
        <p><%=event.description%></p>

        <hr>
        <div>
            <a class="btn btn-primary" href="/subscribe/<%=event._id%>">
                <%=buttonText%>
            </a>
            <% if(isAdmin){ %>
                <a href="/moderator/add/<%=event._id%>" class="btn btn-primary" id="newmoderator">New moderator</a>
                <button class="btn btn-info">New event</button>
                <button class="btn btn-warning">Update</button>
                <button class="btn btn-danger">Delete</button>
            <% } %>
        </div>

        
        <hr>

        <div id="calendar"></div>

        <hr>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach(function(sub){ %>
            <tr>
                <td><%=sub.firstname%></td>
                <td><%=sub.surname%></td>
                <td><%=sub.email%></td>
            </tr>
            <% } ); %>
            </tbody>
        </table>
     </div>
    
</div>

<script>
    $(document).ready(function() {
		$.getJSON('/api/class/<%=event._id%>/events',function(data){
			$('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaDay',
				eventLimit: true,
				events: data
			});
			console.log(data);
		});
    });
</script>

<% include partials/footer %>